<div>

    <h3>Aqui va cada artista</h3>
    <img src="{{this.artistas.img}}" alt="imagen album">
    <h3>{{this.artistas.name}}</h3>
    <button><a href="/albums/someArtistIdGoesHere">View Albums</a></button>
</div>