
<section id="index">
<div id="container-form" >
    <div class="fomr">
<form action="/artist-search" method="get">
<input  name="Artist" type="text"placeholder="busca artistas " autocomplete="off">

</div>
<button><a href="/artist-search">Buscar</a></button>

</form>
</div>
</section>